html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.top-bar {
  background-color: #000;
  position: relative;
}

.cam-button {
  position: absolute;
  bottom: 0;
  right: 50%;
  left: 50%;
}

.cam {
  position: relative;
}

.camera {
  position: absolute;
  right: 0;
  top: 0;
}
}

.flash {

}
