html {
<<<<<<< HEAD
	box-sizing: border-box;
  color: #EDEBEB;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.grid {
  background-color: #edebeb;
=======
  font-family: "Open Sans", sans-serif;
>>>>>>> ee96a9cd40fcfde8cc7f09e9943d3f6e99c2135d
}
