.name {
  color: #9e9e9e;
  font-size: .7em;
}

.container {
  max-width: 1000px;
  text-align: center;
}

.container-main {
  max-width: 650px;
  text-align: center;
}

.outfit-name {
  color: #9e9e9e;
  font-size: 1.2em;
}

.store {
  text-align: left;
  color: #9e9e9e;
  font-size: .9em;
  font-variant: small-caps;
  line-height: .3em;
}

.product {
  text-align: left;
  color: #9e9e9e;
  font-size: .8em;
  font-weight: bold;
  line-height: .3em;
}

.price {
  text-align: left;
  color: #9e9e9e;
  font-size: .8em;
  font-weight: bold;
  line-height: .3em;
}

.like-button {
  color: transparent;
}

.heart-icon {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 9;
}

.picture {
  position: relative;
}

#photo-1:checked ~ .container [for="photo-1"] {
  color: #f32424;
}

#photo-2:checked ~ .container [for="photo-2"] {
  color: #f32424;
}

#photo-3:checked ~ .container [for="photo-3"] {
  color: #f32424;
}

#photo-4:checked ~ .container [for="photo-4"] {
  color: #f32424;
}

.like-check {
  position: absolute;
  left: -100px;
  top: -100px;
}
